<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"-->
<!--          id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--    <link rel="stylesheet" href="/css/index.css"/>-->
    <title>Footer</title>
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#fff;
   color: #000;
   text-align: center;
}
</style>
</head>
<body>

<div th:fragment="footer">
    <div class="footer">
        &copy; Copyright  2021
    </div>
</div>
    <div th:fragment="footer-admin">
        <div class="footer">
        &copy; 2021 Admin Footer
        </div>
    </div>
</div>
</body>
</html>