<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:replace="~{fragments/head :: title}">Title</title>
    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <th:block th:insert="~{fragments/head:: head/script}"></th:block>
    <link rel="stylesheet" href="/css/login.css"/>

<!--    <link rel="stylesheet" href="/css/register.css"/>-->
<!--    <div th:replace="header :: header-css"/>-->
</head>
<body>
<div th:replace="header::header"/>
Admin page


<div th:replace="fragments/footer:: ${ #authorization.expression('isAuthenticated()')
&& #strings.contains(#authentication.principal.authorities,'ADMIN')} ?
'footer-admin' : 'footer'"/>

</body>
</html>