<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Portal aukcyjny</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>

    <div th:replace="header::header-css"/>
</head>
<body>

<<div th:replace="headerAdmin::headerAdmin"/>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 col-md-offset-3">
                <div id="login-box">

                    <form id="login-form" class="form" th:action="@{/findUserByName}" th:object="${user}"
                          method="post">
                        <div class="form-group">
                            <label for="username" class="text-info">Search User by user name:</label><br>
                            <input type="text" name="user.username" id="username" th:field="*{username}"
                                   class="form-control">
                            <div class="error" th:errors="*{username}"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Search" name="search" class="btn btn-info btn-md"></br>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<centre>
    <p class="info" th:text="${userChangeCorrectly}"></p>
    <p class="info" th:text="${userDeleteCorrectly}"></p>
<table id="t01" border="2" width="70%" cellpadding="2" align="center">
    <thead>
    <th>User id</th>
    <th>User email</th>
    <th>City</th>
    <th>Address</th>
    <th>Status</th>
    <th>Account type</th>
    <th>Creation date</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Avatar</th>
    </thead>
    <tbody>
<!--    <span th:if="${users.empty}">No users available</span>-->
    <tr th:each="user: ${users}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.city}"></td>
        <td th:utext="${user.address}"></td>
        <td th:utext="${user.status}"></td>
        <td th:utext="${user.type}"></td>
        <td th:utext="${user.createDate}"></td>
        <td><a href="/" th:href="@{'/editSimpleUser'+${user.id}}" class="btn btn-primary cust"><font color="red"/>Edit</a></td>
        <td><a href="/" th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-primary"><font color="red"/> </i> Delete</a></td>
                <td>
                    <img  th:if="${user.avatar !=null && !#strings.isEmpty(user.avatar)}" th:src="@{'data:image/jpeg;base64,' + ${imgUtil.getImgData(user.avatar)}}" width="50" height="50"/>
                    <img th:unless="${user.avatar}" th:src="@{/images/icon.png}" width="50" height="50"/>
<!--                    <img th:src="${(user.avatar != null && !#strings.isEmpty(user.avatar)) ? user.avatar : '/images/icon.png'}"-->
<!--                         width="50" height="50"/>--></td>
    </tr>

    </tbody>


</table>
</centre>
</body>
</html>