<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<!--    <div th:replace="header :: header-css"/>-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Error</title>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="starter-template" sec:authorize="isAuthenticated()">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">Hello,
            <span th:text="${#authentication.name}"></span>
            you do not have permission to access this page.</div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer:: ${ #authorization.expression('isAuthenticated()')
&& #strings.contains(#authentication.principal.authorities,'ADMIN')} ?
'footer-admin' : 'footer'"/>

</body>
</html>