<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <th:block th:insert="~{fragments/head:: head/script}"></th:block>
    <link rel="stylesheet" href="/css/index.css"/>

</head>
<body>
<div th:fragment="header">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>-->

                <!--                </button>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li sec:authorize = "hasAuthority('USER')">
                        <a href="/" th:href="@{/userHome}" class="text-info">Home</a>
                    </li>
                    <li sec:authorize = "hasAuthority('ADMIN')">
                        <a href="/" th:href="@{/adminHome}" class="text-info">Home</a>
                    </li>

                    <li >
                        <a href="/" th:href="@{/userPanel}" class="text-info">User Panel</a>
                    </li>
                    <li>
                        <a href="/" th:href="@{/auction}" class="text-info">Add auction</a>
                    </li>
                    <li>
                        <a href="/" th:href="@{/searchAuction}" class="text-info">Search auction</a>
                    </li>
                    <li sec:authorize = "hasAuthority('ADMIN')">
                        <a href="/" th:href="@{/editUsers}" class="text-info">Edit users</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
<!--                                        <li>-->
<!--&lt;!&ndash;                                        <img th:if="${#authentication.principal.image}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img src="${user.avatar}" width="50" height="50"  />&ndash;&gt;-->
<!--                                        <img  th:src="@{/images/icon.png}" width="40" height="40"/>-->
<!--                                        </li>-->
                    <li>
                        Hello: <span th:text="${#authentication.name}"></span>
                        &nbsp; <img  th:src="@{/images/icon.png}" width="40" height="40"/>
<!--                        Role:  <span sec:authentication="principal.authorities">Roles</span>-->
                    </li>
                    <li>
                        <a th:href="@{/logout}">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>