<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <div th:fragment="header-css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>
    </div>

    <title>Auction panel</title>
</head>
<body>
<div th:fragment="headerAdmin">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>-->

                <!--                </button>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="/" th:href="@{/userPanel}" class="text-info">User Panel</a>
                    </li>
                    <li>
                        <a href="/" th:href="@{/editUsers}" class="text-info">Edit users</a>
                    </li>
                    <li>
                        <a href="/" th:href="@{/auction}" class="text-info">Add auction</a>
                    </li>
                    <li>
                        <a href="/" th:href="@{/searchAuction}" class="text-info">Search auction</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                    <!--                    <li>-->
                    <!--                    <img th:if="${#authentication.principal.image}"-->
                    <!--                        <img src="${user.avatar}" width="50" height="50"  />-->
                    <!--                    <img th:src="*{'/img/' + user.user_id}" width="50" height="50"/>-->
                    <!--                    </li>-->
                    <li>
                        <!--                        <a href="#">-->
                        Hello: <span th:text="${#authentication.name}"></span>
                        <!--                        </a>-->
                    </li>
                    <li>
                        <a th:href="@{/logout}">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>