<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <div th:replace="header :: header-css"/>
    <title>Projekt aukcyjny</title>
</head>
<body>
<div th:replace="header :: header"/>
<centre>
    <!--<h3><p class="text-center text-white pt-5">Konto użytkownika</p></h3>-->
    <h1 th:inline="text">Hello <span th:text="${#authentication.name}"></span>!</h1>


    <!--<img th:src="@{/image/{id}(id=${user.id})}" th:filed="*{avatar}" width="50" height="50"/></div></br>-->


    <table id="t01" border="2" width="70%" cellpadding="2">
        <thead>
        <th>User id</th>
        <th>User email</th>
        <th>City</th>
        <th>Address</th>
        <th>Status</th>
        <th>Account type</th>
        <th>Creation date</th>
        <th>Edit</th>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <span th:if="${users.empty}">No users available</span>

            <td th:utext="${user.id}"></td>
            <td th:utext="${user.username}"></td>
            <td th:utext="${user.city}"></td>
            <td th:utext="${user.address}"></td>
            <td th:utext="${user.status}"></td>
            <td th:utext="${user.type}"></td>
            <td th:utext="${user.createDate}"></td>
            <td><a href="/" th:href="@{'/editUser' + ${user.id}}"><font color="red"/> Edit</a></td>
            <!--        <td><img th:src="@{/image/{id}(id=${user.id})}" th:filed="*{avatar}" width="50" height="50"/></td>-->
        </tr>

        </tbody>


    </table>
</centre>
</body>
</html>