<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <div th:replace="header :: header-css"/>
    <title>Projekt aukcyjny</title>
</head>
<body>
<div th:replace="header :: header"/>
<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--<ul class="nav navbar-nav">-->
<!--    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->
<!--</ul>-->

<!--<div th:if="${users !=null}">-->
<!--    <span th:utext="${users}"></span>-->
<!--</div>-->
<!--<nav class="navbar navbar-default navbar-static-top" role="navigation">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>-->

<!--            </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" sec:authorize="isAuthenticated()">-->
<!--            <ul>-->
<!--            <li>-->
<!--                <a href="/" th:href="@{/userPanel}" class="text-info">User Panel</a>-->
<!--                                    </li>-->
<!--                </ul>-->


<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a href="#"><span class="glyphicon glyphicon-user"></span> [[${#httpServletRequest.remoteUser}]]</a>-->
<!--                </li>-->
<!--                <li><a th:href="@{/logout}">Logout</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
index.html
</body>
</html>