<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:replace="~{fragments/head :: title}">Title</title>
    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <th:block th:insert="~{fragments/head:: head/script}"></th:block>
    <link rel="stylesheet" href="/css/index.css"/>

</head>
<body>
<div th:replace="header::header"/>


user page


<div th:replace="fragments/footer:: ${ #authorization.expression('isAuthenticated()')
&& #strings.contains(#authentication.principal.authorities,'ADMIN')} ?
'footer-admin' : 'footer'"/>
</body>
</html>